.element {
        margin: 0 auto;
        animation: stretch 1.5s ease-out 0s 1 forwards;
        will-change: transform; 
    }
    
    @keyframes stretch {
        50% {
            transform: scale(0.5) translateZ(0);
            border-radius: 100%;
        }
        100% {
            transform: scale(1) translateZ(0);
            border-radius: 100%;
        }
    }